ClienteTimbrado/Service References/NtLinkService/CertificadorService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="https://ntlink.com.mx/ICertificador" elementFormDefault="qualified" targetNamespace="https://ntlink.com.mx/ICertificador" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="TimbraCfdi">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="comprobante" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TimbraCfdiResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="TimbraCfdiResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CancelaCfdi">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="uuid" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="rfcEmisor" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="expresion" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="rfcReceptor" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CancelaCfdiResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CancelaCfdiResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CancelaRetencion">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="uuid" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="rfc" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CancelaRetencionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CancelaRetencionResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ValidaTimbraCfdi">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="comprobante" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ValidaTimbraCfdiResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ValidaTimbraCfdiResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ValidaRFC">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="RFC" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ValidaRFCResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ValidaRFCResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ConsultaEstatusCFDI">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="expresion" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ConsultaEstatusCFDIResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ConsultaEstatusCFDIResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>