ClienteTimbrado/Service References/NtLinkService/CertificadorService1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:i0="https://ntlink.com.mx/ICertificador" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="CertificadorService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:import namespace="https://ntlink.com.mx/ICertificador" location="http://pruebas.ntlink.com.mx/CertificadorWs33Cancelar/CertificadorService.svc?wsdl=wsdl0" />
  <wsdl:types />
  <wsdl:binding name="BasicHttpBinding_ICertificador" type="i0:ICertificador">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="TimbraCfdi">
      <soap:operation soapAction="https://ntlink.com.mx/ICertificador/ICertificador/TimbraCfdi" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CancelaCfdi">
      <soap:operation soapAction="https://ntlink.com.mx/ICertificador/ICertificador/CancelaCfdi" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CancelaRetencion">
      <soap:operation soapAction="https://ntlink.com.mx/ICertificador/ICertificador/CancelaRetencion" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ValidaTimbraCfdi">
      <soap:operation soapAction="https://ntlink.com.mx/ICertificador/ICertificador/ValidaTimbraCfdi" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ValidaRFC">
      <soap:operation soapAction="https://ntlink.com.mx/ICertificador/ICertificador/ValidaRFC" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ConsultaEstatusCFDI">
      <soap:operation soapAction="https://ntlink.com.mx/ICertificador/ICertificador/ConsultaEstatusCFDI" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="CertificadorService">
    <wsdl:port name="BasicHttpBinding_ICertificador" binding="tns:BasicHttpBinding_ICertificador">
      <soap:address location="http://pruebas.ntlink.com.mx/CertificadorWs33Cancelar/CertificadorService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>